.App {
  text-align: center;
}

/* Default styles */
#yt-video {
  width: 590px;
  height: 345px;
}

/* Media query for small screens */
@media (max-width: 640px) {
  #yt-video {
    width: 80%;
    height: 315px;
  }
}

@media (max-width: 400px) {
  #yt-video {
    width: 90%;
    height: 290px;
  }
}

.staff-member {
  width: 300px;
}

.staff-div {
  max-width: 300px;
}

.contact-us {
  width: 500px;
}

.contact-us-text {
  width: 500px;
  height: 300px;
}


@media (max-width: 550px) {

  .contact-us-text,
  .contact-us {
    width: 300px;
  }
}

.title {
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1000px) {
  #registration-pics {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .uniform {
    flex-direction: column;
  }
}

.image-container {
  width: 400px;
  /* Set the desired width */
  height: 200px;
  /* Set the desired height */
  object-fit: cover;

}

#img-slider-img {
  max-height: 200px
}




/* this is for the automagic scroller */

#img-scroll {
  max-width: 250px;
  height: 200px;
  padding: 0 15px;
  object-fit: cover;
}

#img-scroll:last-of-type {
  padding-left: 0;
}

.inner {
  position: auto;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}


/* end of automatic scroller  */